
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

header {
  padding-top: 30px;
  padding-bottom: 10px;
}

table {
  width: 96%;
  box-sizing: content-box;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'ibm-extralight', monospace;
  font-size: 0.75em;
  table-layout: auto;
  margin: 2%;
  overflow-x: auto;
}

th, td {
  padding: 4px;
  text-align: left;
}

th {
  font-weight: inherit;
  background-color: black;
  color: white;
  cursor: pointer;
}

img {
  max-width: 300px;
  height: auto;
}

  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }