
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

img {
  max-width: 300px;
  height: auto;
}

  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }